/*** MEDIA QUERY - MOBILE FIRST ***/
/*(min-width=da valore fino a infinito)*/

/* @media all and (min-width: 576px) {} /**/
/*

@media all and (min-width: 768px) {}/**/
/*

@media all and (min-width: 992px) {}/**/
/*

@media all and (min-width: 1200px) {}/**/
/*

@media all and (min-width: 1400px) {} */

/*** MEDIA QUERY - DESKTOP FIRST ***/
/*(max-width=da 0 fino a valore)*/

/* @media all and (max-width: 1400px) {}

@media all and (max-width: 1200px) {}

@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 576px) {} */


@media all and (min-width: 768px) {

    #card-container #next-classes table thead tr th:not(:first-child),
    #card-container #next-classes table tbody td:not(:first-child) {
        width: 10%;
    }

}




@media all and (min-width: 992px) {

    /*navbar*/
    #hype-top-navbar .hype-navbar-logo-container {
        min-width: 150px;
        width: 150px;
    }

    #hype-top-navbar .hype-navbar-right {
        width: 150px;
    }




    /*sidebar*/
    #hype-sidebar {
        width: 150px;
    }

    #hype-sidebar-top div,
    #hype-sidebar-bottom {
        justify-content: flex-start;
    }


    #content {
        width: calc(100% - 150px);
    }

}