:root {
    --bs-green: #198754;
    --bs-yellow: #ffc107;
    --bs-red: #dc3545;
    --bs-blue: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-gray-600: #6c757d;
    --bs-light: #f8f9fa;
    --color-side-bar: #051e34;
    --color-code: #F26551;
    --color-hover-table: #ECECEC;
}

.hype-text-green {
    color: var(--bs-green);
}

.hype-bg-green {
    background-color: var(--bs-green);
}

.hype-text-yellow {
    color: var(--bs-yellow);
}

.hype-bg-yellow {
    background-color: var(--bs-yellow);
}

.hype-text-red {
    color: var(--bs-red);
}

.hype-bg-red {
    background-color: var(--bs-red);
}

.hype-text-blue {
    color: var(--bs-blue);
}

.hype-bg-blue {
    background-color: var(--bs-blue);
}

.hype-text-link-hover {
    color: var(--bs-link-hover-color);
}

.hype-bg-link-hover {
    background-color: var(--bs-link-hover-color);
}

.hype-text-gray-600 {
    color: var(--bs-gray-600);
}

.hype-bg-gray-600 {
    background-color: var(--bs-gray-600);
}

.hype-text-light {
    color: var(--bs-light);
}

.hype-bg-light {
    background-color: var(--bs-light);
}

.hype-text-light {
    color: var(--bs-light);
}

.hype-bg-sidebar {
    background-color: var(--color-side-bar);
}

.hype-bg-code {
    background-color: var(--color-code);
}



/*Document*/

body {
    font-family: "Roboto", sans-serif;
}

.hype-pointer {
    cursor: pointer;
}

/*navbar*/

#hype-top-navbar {
    height: 80px;
}

#hype-top-navbar .hype-navbar-logo-container {
    min-width: 80px;
    width: 80px;
}

#hype-top-navbar .hype-navbar-right {
    width: 30px;
}

#hype-top-navbar .hype-navbar-right li {
    padding: 10px
}

#hype-top-navbar .hype-navbar-right ul li:nth-child(2) a .hype-icon-container {
    height: 25px;
    width: 25px;
}


/*main*/

main {
    padding-top: 80px;
}

/*side-bar*/
#hype-sidebar {
    width: 80px;
    background-image: url(../img/sidebar-bg.png);
}

#hype-sidebar-top div,
#hype-sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}


#hype-sidebar-top div:hover,
#hype-sidebar-bottom:hover {
    background-color: var(--bs-gray-600);
    cursor: pointer;
}

/*CONTENT*/

#content {
    width: calc(100% - 80px);
}

/*Section:HERO*/

#hero .hype-small-badge {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hype-offcanvas {
    width: 45px;
    height: 45px;
    border: none;
    border: #f8f9fa 1px solid;
}

#add-student {
    min-width: 180px;
}

.hype-width-65 {
    width: 100% !important;
}

/*card-table*/

#card-container #next-classes table thead tr th:not(:first-child),
#card-container #next-classes table tbody td:not(:first-child) {
    width: 5%;
    text-align: center;
}

#card-container #next-classes table thead tr th:nth-child(2),
#card-container #next-classes table tbody td:nth-child(2) {
    width: 30% !important;
}

#card-container #next-classes table tbody td:first-child .hype-icon-container {
    width: 25px;
    height: 25px;
}

#card-container #next-classes table tbody td .btn {
    width: 25px;
    height: 25px;
}