:root {
    --bs-green: #198754;
    --bs-yellow: #ffc107;
    --bs-red: #dc3545;
    --bs-blue: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-gray-600: #6c757d;
    --bs-light: #f8f9fa;
    --color-side-bar: #051e34;
}

.hype-text-green {
    color: var(--bs-green);
}

.hype-bg-green {
    background-color: var(--bs-green);
}

.hype-text-yellow {
    color: var(--bs-yellow);
}

.hype-bg-yellow {
    background-color: var(--bs-yellow);
}

.hype-text-red {
    color: var(--bs-red);
}

.hype-bg-red {
    background-color: var(--bs-red);
}

.hype-text-blue {
    color: var(--bs-blue);
}

.hype-bg-blue {
    background-color: var(--bs-blue);
}

.hype-text-link-hover {
    color: var(--bs-link-hover-color);
}

.hype-bg-link-hover {
    background-color: var(--bs-link-hover-color);
}

.hype-text-gray-600 {
    color: var(--bs-gray-600);
}

.hype-bg-gray-600 {
    background-color: var(--bs-gray-600);
}

.hype-text-light {
    color: var(--bs-light);
}

.hype-bg-light {
    background-color: var(--bs-light);
}

.hype-text-light {
    color: var(--bs-light);
}

.hype-bg-sidebar {
    background-color: var(--color-side-bar);
}



/*Document*/

body {
    font-family: "Roboto", sans-serif;
}


/*navbar*/

#hype-top-navbar {
    height: 80px;
}

#hype-top-navbar .hype-navbar-logo-container {
    min-width: 80px;
    width: 80px;
}

#hype-top-navbar .hype-navbar-right {
    width: 30px;
}

#hype-top-navbar .hype-navbar-right ul li:not(:last-child),
#hype-top-navbar .hype-navbar-logo-container a img:first-child {
    display: none;
}



/*main*/

main {
    padding-top: 80px;
}

/*side-bar*/
#hype-sidebar {
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
}

#hype-sidebar-top div,
#hype-sidebar-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hype-sidebar-top div:hover,
#hype-sidebar-bottom:hover {
    background-color: var(--bs-gray-600);
    cursor: pointer;
}








#content {
    width: calc(100% - 150px);
}